<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldd.cms.dao.ChannelMapper">
 
 <select id="selectObjects" resultType="channel">
  select * from cms_channel
 
 </select>
 
 
 <select id="selectChannels" resultType="map">
  select * from cms_channel
 
 </select>
 <select id="selectCategorys" resultType="map">
 
  select * from cms_category where channel_Id =#{channelId}
 
 </select>

</mapper>